H1 {color:#ba8d09;
    Font-family: Papyrus, serif;
    font-size: 80px;
    font-style:normal;
}
.foto { background-color: greenyellow;

}

.hoofd {
    border: ridge 5px #ba8d09;
    margin:20px;
}